// Navigation Styles here

.header {
    
    border-bottom: 2px dashed @silver;

    .header-helper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 2rem 2rem 0;
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
        
        @media @mobile {
            flex-direction: column;
            padding-bottom: .5rem;
        }
        
        h1 {
        
            @media @mobile {
                font-size: 3rem;
                margin-bottom: 2rem;
            }
        }
        

        .nav_top a {
                margin: 0 1.5rem 0 1.5rem;
                text-decoration: none;
                font-family: 'Roboto', sans-serif;
                font-size: 1.55rem;
                color: black;
                
                @media @mobile {
                    margin: 0 2rem 0 2rem;
                
            }     
        }
    }
}